@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);
@import url(http://fonts.googleapis.com/css?family=Roboto);

@font-face {
    font-family: Pixel;
    src: url(/fonts/minecraftia.ttf);
}

html{
    background: #f4f4f4;
}

header{
    background: #fff;
    width: 100%;
    height: 100px;
    border-bottom: solid 1px #efefef;
}
#supheader{
    color: #848484;
    background: #efefef;
    height: 30px;
    padding-top: 5px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
#logo{
    background: url(/img/logo.png);
    height: 70px;
    width: 200px;
}
#splash{
    position: absolute;
    margin-left: 130px;
    /*color: #2b2b2b;*/
    color: yellow;
    font-family: 'Pixel';
    font-size: 12px;
    -webkit-animation: splash 1s infinite linear;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
    /*-webkit-transform: rotate(337deg);
    -moz-transform: rotate(337deg);
    -o-transform: rotate(337deg);
    writing-mode: lr-tb;
    width: 150px;*/
}
@-webkit-keyframes splash {
    from {font-size: 100%;}
    50% {font-size: 150%;}
    to {font-size: 100%;}
}
nav{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    background: none;
    float: right;
    margin-top: -35px;
}
nav ul li{
    float: left;
    list-style-type: none;
    margin-left: 25px;
    opacity: 0.6;
    padding: 8px;
    margin-top: -5px;
}
nav ul a{
    color: inherit;
}
nav ul li.active{
    opacity: 1;
}
nav ul li:hover{
    opacity: 1;
    cursor: pointer;
    background: #efefef;
}
nav ul li.separator{
    opacity: 0.7;
    background: #efefef;
    width: 1px;
    padding-left: 0px;
    padding-right: 0px;
    height: 36px;
    cursor: default;
}
#global{
    background: #f4f4f4;
}
h3.title {
    overflow: hidden;
    line-height: 28px;
    font-weight: 400;
}
.container{
    padding-bottom: 25px;
}
#tchat{
    background: #fff;
}
#box-tchat{
    width: 100%;
    height: 400px;
    background: #56b6dd;
}
#box-tchat-corps{
    position: relative;
    width: 99%;
    background: white;
    height: 350px;
    top: 5px;
    left: 50%;
    margin-left: -49.5%;
    overflow-x: hidden;
    overflow-y: scroll;
    word-break: break-all;
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
}
#box-tchat-speak{
    position: relative;
    width: 99%;
    background: white;
    height: 33px;
    top: 11px;
    left: 50%;
    margin-left: -49.5%;
    font-family: 'Open Sans', sans-serif;
}
#box-tchat-speak input{
    width: 100%;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
}
#box-tchat-corps .tchatmessage{
    padding: 8px;
    border-radius: 6px;
    color: #33353a;
    float: left;
    /*clear: right;*/
    margin-bottom: 6px;
}
#box-tchat-corps .datemessage{
    padding: 8px;
    border-radius: 6px;
    color: #a2c5d3;
    float: left;
    clear: right;
    margin-bottom: 6px;
    font-size: 10px;
    margin-top: 3px;
}
#box-tchat-corps .authormessage{
    color: #e5f7fd;
    float: left;
    clear: both;
}
#box-tchat-corps .moi{
    float: right;
    background-color: #e5f7fd;
}
#connexion{
    background: #fff;
}
.box-signin {
    color: #a6a9ae;
    background: url(/img/form-register.png) right bottom no-repeat #525962;
    overflow: hidden;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.box-signin .box-content {
    margin: 40px 70px;
}
#connexion .container .spec{
    font-family: 'Open Sans', sans-serif;
    color: #333333;
}
.lostpast .tooltip{
    width: 300px;
}
#corpus{
    margin-top: 35px;
}
#listecours{
    background: white;
}
.backgroundcours{
    background: #f2f2f2;
    height: 166px;
    background-position: center;
    -webkit-transition: background 0.8s;
    transition: background 0.8s;
}
#infodroiteaccueil{
    background: #fff;
}
#listecours figcaption.active{
    text-align: left;
    margin-top: -30px;
    padding: 5px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    -webkit-transition: background 0.8s;
    transition: background 0.8s;
}
#listecours a{
    text-decoration: none;
}
#listecours figure:last-child{
    margin-bottom: 25px;
}
