Options +FollowSymlinks
RewriteEngine On
RewriteRule ^connexion/password/new/([^/]*)/$ /connexion/newpass.php?new=$1 [L]
RewriteRule ^connexion/password/new/([^/]*)$ /connexion/newpass.php?new=$1 [L]
RewriteRule ^connexion/password/new/([^/]*)/([^/]*)$ /connexion/newpass.php?new=$1&token=$2 [L]
RewriteRule ^connexion/password/new/([^/]*)/([^/]*)/$ /connexion/newpass.php?new=$1&token=$2 [L]
RewriteRule ^game/([^/]*)$ /jeu/index.php?id=$1 [L]
RewriteRule ^game/([^/]*)/$ /jeu/index.php?id=$1 [L]
RewriteRule ^game/([^/]*)/create$ /jeu/index.php?id=$1 [L]
RewriteRule ^game/([^/]*)/create/$ /jeu/index.php?id=$1 [L]
RewriteRule ^game/([^/]*)/forum/$ /jeu/forum.php?id=$1 [L]
RewriteRule ^game/([^/]*)/forum/$ /jeu/forum.php?id=$1 [L]
